<div class="howtoplaycontainer"></div>
<div class="user-navbar">
  <div class="game-tracker">
    <div class="internal">
      <div class="row">
        <div class="col-4">
          <div class="internal">
            <div class="time-taken"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="internal">
            <div class="life-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-container">
    <input type="hidden" id="userLifeCount" value="lifes" />
    <% if(user && lifes>0 && gameStarted && playable){ %>
    <input type="hidden" id="mapParsedIdRaw" value="<%= mapParsedIdRaw %>" />
    <div class="game-options pt-3 pb-2">
      <div class="row">
        <div class="col-4 col-md-4">
          <div class="text-center game-timer">
            <div class="time-countdown">00:00:00</div>
            <div class="title">Time Played</div>
          </div>
        </div>
        <% if(lifes!=99){ %>
        <div class="col-6 col-md-4">
          <div class="text-center game-lifes">
            <div class="life-center">
              <% for(let i = 0; i < (3 - lifes); i++) { %>
              <span class="fa fa-heart"></span>
              <% } %> <% for(let i = 0; i < lifes; i++) { %>
              <span class="fa fa-heart active"></span>
              <% } %>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <%}%>
    <ul>
      <% if (user) { %>
      <li data-id="/user/profile" style="float: left">
        <span class="fa fa-bars"></span>
      </li>
      <% if (user.role.current=="admin") { %>
      <li data-id="/admin">Admin</li>
      <%}%> <% if (locals.missions) { %>
      <li data-id="/missions">Missions</li>
      <% } %> <% }else{ %>
      <li data-id="/auth">Login</li>
      <% } %>
    </ul>
  </div>
</div>
<style>
  .user-navbar {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
    z-index: 3;
  }

  .user-navbar .navbar-container {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 -5px 10px #00000059;
  }

  .user-navbar .navbar-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .user-navbar .navbar-container ul li {
    display: inline-block;
    border: 1px solid #ffabab;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    color: #3e3e3e;
  }

  .user-navbar .navbar-container ul li:hover {
    background: #ff0000;
    color: white;
  }

  .game-options .game-lifes .life-center span.fa {
    font-size: 30px;
    margin: 0 5px;
    color: #0000002e;
    -webkit-text-stroke: 2px black;
    opacity: 0.4;
  }

  .game-options .game-lifes .life-center span.fa.active {
    color: red;
    text-shadow: 2px 2px 20px red;
    opacity: 1;
  }

  .game-options .game-timer .time-countdown {
    font-size: 1.5rem;
  }

  .game-options .game-timer .title {
    font-size: 0.78rem;
  }
</style>
