::-webkit-scrollbar {
  display: none;
}

.missionEditor {
  padding: 20px 10px;
}

.missionEditor .unitMission {
  background: #00000005;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  color: #000000bf;
  box-shadow: 1px 1px 5px 0 #c1c1c1;
  display: flex;
}

.missionEditor .unitMission:hover {
  background: #00000009;
  box-shadow: 0 0 0 0 transparent;
}

.missionEditor .unitMission h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 10px;
}

.icon-selector .addImage {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-selector .addImage:before {
  content: "+";
  font-size: 3rem;
  height: 5rem;
}

.sidebar-container {
  background: #e5ffbd;
  box-shadow: 2px 0px 11px 0px #00000091;
}

.sidebar-container .sidebar .logo {
  color: #ffffff;
  -webkit-text-stroke: 1px #000;
  text-shadow: 2px 2px #000000;
  transition: 0.1s;
  cursor: pointer;
}

.sidebar-container .sidebar .logo:hover {
  text-shadow: 0 0 #000000;
}

.sidebar-container .sidebar .menu ul li {
  padding: 5px 10px;
  margin: 2px 0;
  transition: 0.2s;
  cursor: pointer;
}

.sidebar-container .sidebar .menu ul {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0;
}

.sidebar-container .sidebar .menu ul li:hover {
  background: white;
}

.sidebar-container .sidebar .menu ul li.active {
  background: white;
  border-radius: 20px;
  border: 2px solid lightgrey;
  box-shadow: 2px 5px 10px lightgrey;
}

.map-controller {
  position: fixed;
  z-index: 999;
  bottom: 5px;
}

.map-controller .btn {
  margin: 0 5px;
}

.icon-container div {
  border: 1px solid lightgrey;
  box-shadow: 0 2px 10px 0 lightgrey;
  cursor: pointer;
  transition: 0.1s;
}

.icon-container div:hover {
  box-shadow: 0 0 0 0 lightgrey;
}

.icon-container div.active {
  background: #ededed;
  border: 2px dashed green;
  box-shadow: 0 0 0 0 lightgrey;
}

.missionEditor .unitMission span {
  margin-left: auto;
  color: #ff000078;
  cursor: pointer;
  margin-right: 10px;
}

.missionEditor .unitMission span:hover {
  color: red;
}

.province-table span {
  color: #ff000078;
  cursor: pointer;
}

.province-table span:hover {
  color: red;
}

.myBtn {
  color: inherit;
  text-decoration: none;
  padding: 10px 15px;
  background: #e5ff5f;
  border: 1px solid #d4d500;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.myBtn:before {
  content: "DOWNLOAD";
  position: absolute;
  background: #beffb8;
  height: 100%;
  width: 140%;
  top: 0;
  left: -140%;
  transition: 0.2s;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.myBtn:hover:before {
  left: -20%;
}

.managed-image .img-thumbnail:before {
  content: "DELETE";
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(45deg, #ff00009e, #823000);
  bottom: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: -13px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.managed-image .img-thumbnail {
  position: RELATIVE;
}

.managed-image .img-thumbnail:hover:before {
  letter-spacing: 2px;
  height: 100%;
}

.fileManagerBody .folderUnit,
.fileManagerBody .fileUnit {
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 0 0 #ebebeb;
  transition: 0.1s;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 10px;
}

.fileManagerBody .folderUnit:hover,
.fileManagerBody .fileUnit:hover {
  box-shadow: 0 0 5px 0 #ebebeb;
}

.fileManagerBody .folderUnit:active,
.fileManagerBody .fileUnit:active {
  border: 1px solid #b1b1b1;
}

.fileManagerBody .folderUnit p,
.fileManagerBody .fileUnit p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.fileManagerBody .files .file-container .fileUnit.selected {
  border: 2px solid lime;
  background: rgb(230, 255, 230);
}

.fileManagerBody .files .file-container .fileUnit.selected:hover {
  background: #ff7979;
  border: 2px solid red;
}

.vj_dynamic {
  position: relative;
}

.MapControllerSetting {
  padding: 20px;
  min-width: 50vw;
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  z-index: 9;
  top: 0;
  transition: 0.2s;
}

.MapControllerSetting .visibility-toggle {
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  left: 0;
  bottom: -20px;
}

.MapControllerSetting .visibility-toggle span {
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  background: linear-gradient(0, #d5d5d5, #ffffff, #ffffff);
}

.new_map_form.bg_enable {
  background: linear-gradient(45deg, #ffff9dc9, #ffffffc2) !important;
}

.new_map_form h3 {
  color: black;
  font-weight: 700;
  -webkit-text-stroke: 0.5px white;
  font-size: 3rem;
  transition: 0.2s;
}
.new_map_form.bg_enable h3 {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

::selection {
  color: #1e00fff0;
  background: #cc00ff3b;
  backdrop-filter: blur(5px);
}

.game-mode-controller {
  position: fixed;
  bottom: 0;
  right: 20px;
  background: white;
  min-width: 400px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -2px -2px 10px 0 grey;
  border: 1px solid grey;
  border-bottom: none;
}

@media screen and (max-width: 440px) {
  .game-mode-controller {
    width: 100%;
    min-width: auto;
    right: 0;
  }
}

.game-mode-controller .game-settings {
  padding: 10px 20px;
}

.game-mode-controller .game-settings .header {
  display: inline-flex;
  width: 100%;
}

.game-mode-controller .game-settings .header button {
  margin-left: auto;
  border-radius: 0;
}

.game-mode-controller .game-settings .header h3 {
  width: 100%;
  margin: 0;
}

.game-mode-controller .game-settings .toggle-hide {
  min-height: 400px;
}

.custom-switch {
  width: 100px;
  height: 45px;
}

.custom-switch input {
  display: none;
}

.custom-slider {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 8, 8);
  transition: all 0.4s cubic-bezier(0.99, 0.1, 0.1, 0.99);
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 1),
    inset 90px 0px 50px -50px rgba(126, 4, 4, 0.56);
  border: 2px solid black;
}

.custom-slider-btn {
  position: absolute;
  content: "";
  aspect-ratio: 6/4;
  border-radius: 3px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: auto;
  background: linear-gradient(to bottom, #333333, #242323);
  border: 1px solid #2b2b2b;
  background-color: #333333;
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.15),
    inset 10px 0px 10px -5px rgba(126, 4, 4, 0.1);
  transition: all 0.4s cubic-bezier(0.99, 0.1, 0.1, 0.99);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-texture {
  width: 2px;
  height: 70%;
  background-color: #202020ea;
  box-shadow: -0.7px -1.5px 1px 0px rgba(192, 192, 192, 0.3),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

.custom-light {
  width: 4px;
  height: 4px;
  border: 1px solid #222121;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.99, 0.1, 0.1, 0.99);
  background-color: rgb(230, 14, 14);
  box-shadow: 0px 0px 10px 1px rgb(241, 28, 28);
}

.custom-switch input:checked + .custom-slider {
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 1),
    inset -85px 0px 50px -50px rgba(1, 78, 4, 0.6);
}

.custom-switch input:checked + .custom-slider .custom-slider-btn {
  transform: translateX(66%);
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.15),
    inset -10px 0px 10px -5px rgba(1, 112, 4, 0.1);
}

.custom-switch input:checked + .custom-slider .custom-slider-btn .custom-light {
  background-color: rgb(35, 158, 4);
  box-shadow: 0px 0px 10px 0px rgb(57, 230, 14);
}
