.history-container {
  margin: 50px 0;
  border: 1px solid #ffc10747;
  background: #dfdfdf14;
  border-radius: 5px;
  overflow: hidden;
}

.history-container .header {
  background: #ffc107;
  text-align: center;
  padding: 5px 0;
}

.history-container .body {
  padding: 20px 10px;
  max-height: 30vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.history-container .body a {
  display: block;
  color: inherit;
  text-decoration: none;
  background: #bdbdbd14;
  margin: 5px 0;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border-left: 1px solid;
  transition: 0.1s;
}

.history-container .body a:hover {
  border-left: 3px solid orange;
  letter-spacing: 1.2px;
  background: #ffc1071f;
}
