.pinImage {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.pinImage::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285f4;
}

.loadingScreen,
.errorScreen {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  background: white;
}

.loadingScreen div,
.errorScreen div {
  padding: 10px;
}

.errorScreen h2 {
  color: red;
}

.errorScreen p {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  background-color: red;
}

.loadingScreen div img {
  animation: 1s squeeze infinite;
}

@keyframes squeeze {
  0%,
  100% {
    padding: 0;
  }
  50% {
    padding: 10px;
  }
}

.simpleLoading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000ab;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.simpleLoading .loadingAnime {
  width: 300px;
  overflow: hidden;
  height: 5px;
  border-radius: 5px;
  background: #0000001c;
  border: 1px solid #ffffff33;
}

.simpleLoading .loadingAnime:before {
  content: "";
  position: relative;
  display: block;
  width: 30%;
  background: white;
  height: 100%;
  border-radius: 5px;
  animation: 5s leftright infinite;
}

@keyframes leftright {
  0%,
  100% {
    left: -20%;
  }
  20% {
    left: 30%;
  }
  45% {
    left: 80%;
  }
  50% {
    left: 100%;
  }
}

.WinScreen {
  display: flex;
  width: 100vw;
  height: 100%;
  background: linear-gradient(45deg, #ffc1c1, #ffdbdb, #ffa8a8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;
}

.mission-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ffff0047, #ff8d0059);
  top: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-container {
  text-transform: uppercase;
  font-family: monospace;
  padding: 20px;
  background: linear-gradient(45deg, #4a2074, #300060);
  color: yellow;
  max-height: 80vh;
  overflow-y: scroll;
}

.mission-container .popup-body ul {
  list-style: none;
  padding: 0;
  text-align: center;
  color: white;
}

.mission-container .popup-body ul li {
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.1s;
}

.mission-container .popup-body ul li:hover {
  background: #7878784a;
  letter-spacing: 1.1px;
}

.mission-container .popup-header h1 {
  border-bottom: 1px solid #444400;
  padding-bottom: 10px;
}

.mission-container .user-image-pick .image-line .mission-image {
  width: 50%;
  max-height: 100px;
  text-align: center;
}

.mission-container .user-image-pick .image-line .mission-image img {
  height: 100%;
}

.mission-container .user-image-pick .image-line .mission-image.image-picker {
  background: #ffffff0f;
  position: relative;
  cursor: pointer;
}

.mission-container
  .user-image-pick
  .image-line
  .mission-image.image-picker:before {
  content: "+";
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-weight: 700;
  color: #80808061;
  font-size: 5rem;
}

.mission-container
  .user-image-pick
  .image-line
  .mission-image.image-picker:hover {
  background: #ffffff29;
}

body {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.infoBoxMarkimage {
  max-width: 400px !important;
}

.currentLocationBtn {
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 60px;
  background: #ffffff;
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.currentLocationBtn span {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.currentLocationBtn:hover {
  padding: 2px;
  filter: invert(1);
}

img {
  pointer-events: auto;
}

.fullscreen-toggle {
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 13px;
  font-size: 10px;
  transition: 0.2s;
  border-radius: 2px;
  cursor: pointer;
  border: 2px solid rgb(102, 102, 255);
}

.fullscreen-toggle:hover {
  border: 2px solid blue;
}

.howtoplaycontainer {
  position: fixed;
  z-index: 4;
  width: 100%;
  bottom: 50px;
  text-align: center;
}

.howtoplaycontainer a {
  background: #6868ff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  min-width: 40%;
  border: 2px solid blue;
  border-radius: 5px;
  transition: 0.1s;
}

.howtoplaycontainer a:hover {
  background: blue;
}

.refresh {
  top: 60px !important;
  right: 15px !important;
  padding: 5px;
  background: white;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid;
  cursor: pointer;
  transition: 0.1s;
}

.refresh:hover {
  background: black;
  color: red;
}

.popup-button {
  position: fixed;
  bottom: 120px;
  background: #ffffff;
  padding: 5px;
  padding-right: 0;
  text-align: center;
  right: 0;
  border-radius: 10px 0 0 10px;
  border: 2px solid lightgrey;
}

.popup-button button {
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  transition: 0.1s ease-in;
  border: 2px solid lightgrey;
  border-right: 0;
}

.popup-button button:hover {
  background: yellow;
  border: 2px solid grey;
  border-right: 0;
}

.currentLocationBtn.pending {
  animation: 3s changeBackgroundColor infinite;
}

.pacman-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  rotate: -50deg;
  background: conic-gradient(#3498db 0deg 300deg, #00000000 300deg 360deg);
  animation: 1s eating infinite;
}

@keyframes eating {
  0%,
  100% {
    background: conic-gradient(#3498db 0deg 300deg, #00000000 300deg 360deg);
  }
  50% {
    rotate: -80deg;
    background: conic-gradient(#3498db 0deg 330deg, #00000000 330deg 360deg);
  }
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    background-color: #ff8e8e;
  }
  25% {
    background-color: #00c2ff;
  }
  50% {
    background-color: #00ff00;
  }
  75% {
    background-color: yellow;
  }
}

::selection {
  color: #1e00fff0;
  background: #cc00ff3b;
  backdrop-filter: blur(5px);
}

.game-buttons-container {
  display: flex;
  background: #f80;
  border: 2px solid #00000015;
  border-radius: 10px;
}

.game-buttons-container .mbtn {
  background: linear-gradient(90deg, #f80, orange, #f80);
  border: 0;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
  padding: 10px;
  transition: 0.2s;
}

.game-buttons-container .mbtn:hover {
  color: #000;
  background: linear-gradient(90deg, orange, #f80, orange);
}

@media screen and (max-width: 350px) {
  .game-buttons-container .mbtn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 250px) {
  .game-buttons-container .mbtn {
    font-size: 0.6rem;
  }
}

.login-prompt-modal {
  position: fixed;
  top: 0;
  background: #ffffff59;
  width: 100%;
  left: 0;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-prompt-modal .inner {
  background: #80ff00;
  border: 2px solid black;
  padding: 30px;
}

.spl-modal-btn {
  display: block;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 700;
  width: 100%;
  border: 2px solid black;
}

.login-prompt-modal .inner .section {
  margin-top: 3rem;
}

.spl-modal-btn:hover {
  border: 2px solid white;
}
