.pinImage {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.pinImage::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285f4;
}

.loadingScreen,
.errorScreen {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  background: white;
}

.loadingScreen div,
.errorScreen div {
  padding: 10px;
}

.errorScreen h2 {
  color: red;
}

.errorScreen p {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  background-color: red;
}

.loadingScreen div img {
  animation: 1s squeeze infinite;
}

@keyframes squeeze {
  0%,
  100% {
    padding: 0;
  }
  50% {
    padding: 10px;
  }
}

.simpleLoading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000ab;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.simpleLoading .loadingAnime {
  width: 300px;
  overflow: hidden;
  height: 5px;
  border-radius: 5px;
  background: #0000001c;
  border: 1px solid #ffffff33;
}

.simpleLoading .loadingAnime:before {
  content: "";
  position: relative;
  display: block;
  width: 30%;
  background: white;
  height: 100%;
  border-radius: 5px;
  animation: 5s leftright infinite;
}

@keyframes leftright {
  0%,
  100% {
    left: -20%;
  }
  20% {
    left: 30%;
  }
  45% {
    left: 80%;
  }
  50% {
    left: 100%;
  }
}

.WinScreen {
  display: flex;
  width: 100vw;
  height: 100%;
  background: radial-gradient(white, #a7ffa7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;
}

.WinScreen:before {
  content: "You Won";
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  color: green;
}

.mission-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ffff0047, #ff8d0059);
  top: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-container {
  text-transform: uppercase;
  font-family: monospace;
  padding: 20px;
  background: linear-gradient(45deg, #4a2074, #300060);
  color: yellow;
  max-height: 80vh;
  overflow-y: scroll;
}

.mission-container .popup-body ul {
  list-style: none;
  padding: 0;
  text-align: center;
  color: white;
}

.mission-container .popup-body ul li {
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.1s;
}

.mission-container .popup-body ul li:hover {
  background: #7878784a;
  letter-spacing: 1.1px;
}

.mission-container .popup-header h1 {
  border-bottom: 1px solid #444400;
  padding-bottom: 10px;
}

.mission-container .user-image-pick .image-line {
  display: inline-flex;
  width: 100%;
  margin: 10px 0;
}

.mission-container .user-image-pick .image-line .mission-image {
  width: 50%;
  max-height: 100px;
  text-align: center;
}

.mission-container .user-image-pick .image-line .mission-image img {
  height: 100%;
}

.mission-container .user-image-pick .image-line .mission-image.image-picker {
  background: #ffffff0f;
  position: relative;
  cursor: pointer;
}

.mission-container
  .user-image-pick
  .image-line
  .mission-image.image-picker:before {
  content: "+";
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-weight: 700;
  color: #80808061;
  font-size: 5rem;
}

.mission-container
  .user-image-pick
  .image-line
  .mission-image.image-picker:hover {
  background: #ffffff29;
}

body {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.infoBoxMarkimage {
  max-width: 400px !important;
}

.currentLocationBtn {
  position: fixed;
  z-index: 99;
  right: 10px;
  bottom: 60px;
  background: #ffffff;
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.currentLocationBtn span {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.currentLocationBtn:hover {
  padding: 2px;
  filter: invert(1);
}

img {
  pointer-events: auto;
}

.fullscreen-toggle {
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 13px;
  font-size: 10px;
  transition: 0.2s;
  border-radius: 2px;
  cursor: pointer;
  border: 2px solid rgb(102, 102, 255);
}

.fullscreen-toggle:hover {
  border: 2px solid blue;
}

.howtoplaycontainer {
  position: fixed;
  z-index: 3;
  width: 100%;
  bottom: 50px;
  text-align: center;
}

.howtoplaycontainer a {
  background: #6868ff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  min-width: 40%;
  border: 2px solid blue;
  border-radius: 5px;
  transition: 0.1s;
}

.howtoplaycontainer a:hover {
  background: blue;
}

.refresh {
  top: 60px !important;
  right: 15px !important;
  padding: 5px;
  background: white;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid;
  cursor: pointer;
  transition: 0.1s;
}

.refresh:hover {
  background: black;
  color: red;
}

.popup-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
}

.popup-button button {
  border: 2px solid black;
  background: red;
  color: white;
  padding: 5px 20px;
  border-radius: 10px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 5px 5px 4px #00000061;
  transition: 0.1s;
}

.popup-button button:hover {
  box-shadow: 0 0 0 0 #00000061;
  background: yellow;
  border: 2px solid red;
  color: black;
  border-radius: 0 10px 0px 10px;
}
