<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Map Integration</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.js"></script>
  </head>
  <body style="margin: 0">
    <div id="map" style="height: 100vh; width: 100vw"></div>
    <div class="loadingScreen">
      <div class="icon-container">
        <img alt="Map Icon" src="/images/marker.png" width="100px" />
      </div>
      <div class="text-container">
        <h2>Please Wait......</h2>
        <p>Ensure You have enabled your location for a better experience</p>
      </div>
    </div>
    <script>
      let polygonCoordinates = [];
      let map, markerElement;
      let pos = { lat: 26, lng: 85 };
      let iconMarker = document.createElement("img");
      let currentSegment = 0;
      let currentStep = 0;
      let stepsPerSegment = 100;
      let speed = 10;
      iconMarker.width = 50;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: pos,
          mapId: "main_map",
        });
        markerElement = new google.maps.marker.AdvancedMarkerElement({
          position: pos,
          map: map,
          content: iconMarker,
        });
        showAllPolygons();
      }

      function showAllPolygons() {
        $.get("/admin/looproute", (data, success) => {
          if (!success) return;
          polygonCoordinates = data;
          polygonCoordinates.forEach((element) => {
            new google.maps.Polyline({
              path: element.polygonCoords,
              map: map,
            });
          });
          stepsPerSegment = haversineDistance(
            polygonCoordinates[0].polygonCoords[0],
            polygonCoordinates[0].polygonCoords[1]
          );
          moveMarker(
            polygonCoordinates[0].image,
            polygonCoordinates[0].polygonCoords
          );
          animateMarker();
        });
      }

      function moveMarker(imageSrc, coordinates) {
        iconMarker.src = imageSrc;
        markerElement.position = coordinates[0];
      }

      function interpolate(start, end, factor) {
        return {
          lat: start.lat + (end.lat - start.lat) * factor,
          lng: start.lng + (end.lng - start.lng) * factor,
        };
      }

      function animateMarker() {
        const start = polygonCoordinates[0].polygonCoords[currentSegment];
        const end = polygonCoordinates[0].polygonCoords[currentSegment + 1];

        // Calculate the interpolation factor
        const factor = currentStep / stepsPerSegment;
        const newPos = interpolate(start, end, factor);
        markerElement.position = newPos;
        stepsPerSegment = haversineDistance(
          polygonCoordinates[0].polygonCoords[currentSegment],
          polygonCoordinates[0].polygonCoords[currentSegment + 1]
        );
        currentStep++;

        // Move to next segment if current segment is done
        if (currentStep > stepsPerSegment) {
          currentStep = 0;
          currentSegment++;
          // Loop back to start if at the end of the polygon path
          if (
            currentSegment >=
            polygonCoordinates[0].polygonCoords.length - 1
          ) {
            currentSegment = 0;
          }
        }
        // Repeat animation
        setTimeout(animateMarker, 1000 / speed);
      }

      function haversineDistance(coords1, coords2) {
        const toRadians = (degrees) => degrees * (Math.PI / 180);

        const lat1 = toRadians(coords1.lat);
        const lng1 = toRadians(coords1.lng);
        const lat2 = toRadians(coords2.lat);
        const lng2 = toRadians(coords2.lng);

        const dlat = lat2 - lat1;
        const dlng = lng2 - lng1;

        const a =
          Math.sin(dlat / 2) ** 2 +
          Math.cos(lat1) * Math.cos(lat2) * Math.sin(dlng / 2) ** 2;

        const c = 2 * Math.asin(Math.sqrt(a));

        const R = 6371;
        return R * c;
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=marker&key=<%= apiKey %>"></script>

    <script>
      setTimeout(function () {
        $(".loadingScreen").fadeOut(() => {
          $(".loadingScreen").remove();
        });
      }, 1000);
    </script>
  </body>
</html>
