<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - Urban Escape</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="row vh-100 justify-content-center align-items-center m-0">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <h2 class="text-center text-warning">
          Welcome To
          <span class="bg-warning rounded-1 border-1 p-3 text-white"
            >Urban Escape</span
          >
        </h2>
        <div class="d-flex mt-5">
          <input
            id="mapId"
            class="form-control me-1"
            placeholder="Enter Map ID"
          />
          <button class="btn btn-warning ms-1" onclick="submitt()">Play</button>
        </div>
        <div class="extra mt-2 text-center">
          <% if (locals.user) { %>
          <p class="alert alert-warning">
            Hey <%= user.name.toUpperCase() %>,
            <a href="/user/profile">Profile</a>
          </p>
          <% }else{ %>
          <p class="alert alert-warning">
            Please <a href="/auth">Login</a> to enjoy all features
          </p>
          <%}%>
        </div>
      </div>
    </div>
    <script>
      function submitt(event) {
        const mapId = document.getElementById("mapId").value;
        if (!mapId) return alert("Please Enter a Map ID");
        window.location.href = `/map/${mapId}`;
      }
    </script>
  </body>
</html>
