<html>
  <head>
    <title>Login</title>
    <meta
      name="google-site-verification"
      content="AWs8hJem8IT6O4cQ7612JJiVbaFPXWy-x-FUNH9PxVE"
    />
    <meta
      name="description"
      content="URBANESCAPE is an innovative web app blending real-world maps with Pac-Man gameplay. Explore dynamic maps, unlock rewards and badges, and enjoy various game modes for an exciting, immersive experience!"
    />

    <style>
      body {
        overflow: hidden;
        background: url(/images/login-bg.avif);
        background-size: cover;
      }

      .overflow-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .login-box {
        background: linear-gradient(45deg, #000000a1, #000000a1, #6daeffa1);
        padding: 20px;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        border: 2px solid white;
        overflow: hidden;
      }

      .login-box form {
        padding: 5px;
        margin: 10px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid #ffffff2e;
      }

      .login-box form input.c-input {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
        padding: 5px 10px;
        border: 0;
        outline: 0;
        color: #ffffffb3;
        background: #ffffff1c;
        border-bottom: 2px solid grey;
        transition: 0.1s;
        font-family: sans-serif;
        letter-spacing: 3px;
      }

      .login-box form input.c-input:focus {
        border-bottom: 2px solid white;
        color: white;
      }

      .login-box form input.c-input::placeholder {
        color: #ffffff8f;
      }

      .login-box .tab-toggle {
        width: 100%;
        display: inline-flex;
      }

      .login-box .tab-toggle h3 {
        transition: 0.1s;
        width: 50%;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px 0;
        color: rgba(255, 255, 255, 0.6);
      }

      .login-box .tab-toggle h3:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      .login-box .tab-toggle h3.active {
        color: white;
        background: rgba(0, 0, 0, 0.3);
      }

      select#citySelector.form-control_v {
        display: block;
        width: 100%;
        padding: 10px;
        background: transparent;
        color: white;
        margin-top: 10px;
      }

      select#citySelector.form-control_v option {
        color: black;
      }

      .fgt-pss a {
        color: orange;
        display: inline-block;
        text-decoration: none;
        font-style: oblique;
        transition: 0.1s;
        position: relative;
        overflow: hidden;
        height: 30px;
      }

      .fgt-pss a:hover {
        color: #f80;
      }

      .fgt-pss a:before {
        content: " ";
        position: absolute;
        width: 100%;
        background: linear-gradient(90deg, red, green, yellow);
        height: 2px;
        display: block;
        left: -100%;
        transition: 0.2s;
        top: 0;
        border-radius: 20px;
      }

      .fgt-pss a:hover:before {
        left: 0;
        top: calc(100% - 3px);
        transition: 0.5s;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <div class="h-100">
      <div class="row justify-content-center m-0 p-0">
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4">
          <div
            class="vh-100 d-inline-flex align-items-center animate__animated animate__backInDown"
          >
            <div class="animated-box">
              <div class="login-box w-100">
                <div class="tab-toggle">
                  <h3 data-id="login" class="active">Login</h3>
                  <h3 data-id="register">Register</h3>
                </div>
                <form
                  method="POST"
                  action="/auth"
                  class="classic-login animate__animated animate__fadeInLeft"
                >
                  <input
                    required
                    type="email"
                    name="email"
                    placeholder="user@gmail.com"
                    class="c-input"
                  />
                  <input
                    required
                    type="password"
                    name="password"
                    placeholder="******"
                    class="c-input"
                  />
                  <button class="btn btn-secondary w-100 mt-2">SUBMIT</button>
                  <p class="text-end m-0 mt-3 fgt-pss">
                    <a href="/auth/password/recovery">forgot password?</a>
                  </p>
                </form>
                <form
                  method="POST"
                  action="/auth/signup"
                  style="display: none"
                  class="classic-signup animate__animated animate__fadeInRight"
                >
                  <input
                    required
                    type="text"
                    name="name"
                    placeholder="Enter Your Name"
                    class="c-input"
                  />
                  <input
                    required
                    type="email"
                    name="email"
                    placeholder="user@gmail.com"
                    class="c-input"
                  />
                  <input
                    required
                    type="password"
                    name="password"
                    placeholder="******"
                    class="c-input"
                  />
                  <div class="form-group mb-2">
                    <select
                      class="form-control_v"
                      id="citySelector"
                      name="state"
                    >
                      <option value="">Choose State--</option>
                    </select>
                  </div>
                  <button class="btn btn-secondary w-100 mt-2">REGISTER</button>
                </form>
                <div class="login-responses">
                  <% if(locals.error){ %>
                  <div class="alert alert-danger text-center">
                    <p class="m-0"><%=error%></p>
                  </div>
                  <%}%>
                </div>
                <div class="plugin-login">
                  <div class="row">
                    <div class="col-lg-12 my-1">
                      <div
                        class="login-card google-login animate__animated animate__backInUp animate__delay-1s"
                      >
                        <div class="d-inline-flex w-100 justify-content-center">
                          <div
                            class="g_id_signin my-2"
                            data-type="standard"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p
                  class="text-white text-center m-0 animate__animated animate__backInUp animate__delay-1s"
                >
                  By using our services, you agree to our
                  <a
                    href="/privacy-policy"
                    target="_blank"
                    class="text-blue-400 underline hover:text-blue-300"
                  >
                    Privacy Policy </a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="g_id_onload"
      data-client_id="<%=GoogleClientID%>"
      data-callback="handleCredentialResponse"
    ></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      const pluginLogin = (provider, token) => {
        let payload = {};
        payload.type = provider;
        payload.token = token;
        $.post("/auth/plugins", payload, (data) => {
          if (data.status == "success") {
            window.location.href = `/auth/verifyPlugin?token=${data.token}`;
          }
        });
      };

      function handleCredentialResponse(response) {
        const token = response.credential;
        pluginLogin("google", token);
      }

      $(document).ready(() => {
        $(".login-box .tab-toggle h3").click(function () {
          if ($(this).hasClass("active")) return;
          $(".login-box .tab-toggle h3").removeClass("active");
          $(this).addClass("active");
          const tgtTgl = $(this).data("id");
          $(".login-box form").hide();
          if (tgtTgl == "login") {
            $(".login-box form.classic-login").show();
          } else {
            $(".login-box form.classic-signup").show();
          }
        });

        $.get("/auth/countries", (data) => {
          if (data.status == "success") {
            const countries = data.countries;
            $("#citySelector").empty();
            $("#citySelector").html(
              "<option value=''>Select State/Province</option>"
            );

            countries.forEach((country) => {
              $("#citySelector").append(
                `<option value="${country.name}">${country.name}</option>`
              );
            });

            $("#citySelector").on("change", (event) => {
              if (!event.target.value) return $("#registerBtn").hide();
              x = $("#ppolicyCheck")[0];
              if (!x.checked) return;
              return $("#registerBtn").show();
            });
          }
        });
      });
    </script>
  </body>
</html>
